<div class="container-fluid">
    <div class="p-4">
        <div>
            <p class="fs-2">My Leave</p>
        </div>

        <hr>

        <div>
            <div class="d-flex justify-content-between pt-3">   
                <div class="col-6 d-flex align-items-center">
                    <span>Show</span>
                    <select class="form-select mx-2" #page (change)="onChange(this.page.value)" style="max-width:80px">
                        <option value="5">05</option>
                        <option value="10" [defaultSelected]="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                    </select>
                    <span>Records Per Page</span>
                </div>
                <div>
                    <a routerLink="/student/apply-leave" class="btn btn-primary fs-5">Apply Leave</a>
                </div>
            </div>
            
            <div class="col-md-12 pt-4">
                <div style="min-height: 576px;">
                    <table class="table table-hover table-bordered align-middle">
                        <thead class="table-dark">
                            <tr>
                                <th>Reason</th>
                                <th>Leave Type</th>
                                <th>Leave From</th>
                                <th>Leave To</th>
                                <th class="text-center">Status</th>
                                <th colspan="2" class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody> 
                            <tr *ngIf="!myLeave.length">
                                <td colspan="6" class="text-center">Leave Record Empty</td>
                            </tr>
    
                            <tr *ngFor="let leave of myLeave | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems }">
                                <td>{{leave.reason | titlecase }}</td>
                                <td>{{leave.leaveType}}</td>
                                <td>{{leave.startDate | date: 'dd/MM/YYYY'}}</td>
                                <td>{{leave.endDate | date: 'dd/MM/YYYY'}}</td>
                                <td class="d-flex justify-content-center">
                                    <p  class="text-white text-center py-1 mb-0" 
                                        style="width: 100px" 
                                        [ngStyle]="{'background-color': leave.status === 'Approved' && 'green' || leave.status === 'Rejected' && 'red' || leave.status === 'Pending' && 'gray' }">
                                        {{leave.status}}
                                    </p>
                                </td>
                                <td class="text-center" [ngClass]="['Approved','Rejected'].includes(leave.status) ? 'd-none' : ''">
                                    <a (click)="updateCondition(leave.status, leave.id)">
                                        <i class='fas fa-edit text-primary fs-5' title="Edit Leave"></i>
                                    </a>
                                </td>
                                <td class="text-center" [ngClass]="['Approved','Rejected'].includes(leave.status) ? 'd-none' : ''">
                                    <i class="fa-solid fa-trash text-danger fs-5" title="Delete Leave" (click)="onLeaveDelete(leave.id, leave.status)"></i>
                                </td>
                                <td colspan="2" class="text-center" *ngIf="['Approved','Rejected'].includes(leave.status)">
                                    No Action
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                <div class="d-flex justify-content-center align-content-center mt-4">
                    <pagination-controls 
                        class="h5" (pageChange)="onPageChange($event)" 
                        currentPage="currentPage" itemsPerPage="itemsPerPage" 
                        totalItems="totalItems">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>
